.body {
    font-size: 20pt;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
img.avatar{
  width: 50%;
  border-radius: 90%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  text-align: center;
  color: white;
  border: none;
  width: 220px;
  cursor: pointer;
  padding: 15px 20px;
  margin: 5px 0px;
  border-radius: 8px;
  width: 50%px;
  background-color: black;
}
h2{
  text-align: center;
}
button:hover{
  opacity: 0,8px;
}